[submodule "plan4dial"]
	path = plan4dial
	url = https://github.com/99arp/plan4dial.git
	branch = local_branch
[submodule "hovor"]
	path = hovor
	url = https://github.com/99arp/hovor.git
	branch = local_experiments
